NODE_ENV=production
PORT=3001

# MongoDB
MONGODB_URI=mongodb+srv://vincent:<password>@production.5mtbbt7.mongodb.net/?appName=production

# Clerk
CLERK_SECRET_KEY=sk_live_...
CLERK_PUBLISHABLE_KEY=pk_live_...

# TMDB (if used)
TMDB_API_KEY=...

# OpenRouter (for AI features)
OPENROUTER_API_KEY=...
